@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1342px;
  margin: 0 auto;
}

/* Styles for text */
.text-h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
}

.text-h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}

.text-h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
}

.text-h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}

.text-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}

.text-p-main {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #8f95a5;
}

.text-p-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8f95a5;
}

.text-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  width: 230px;
  height: 60px;
  color: #fff;
  background-color: #263238;
  border-radius: 5px;
}

.skills__card-btn {
  margin-left: -2px;
  width: 218px;
  height: 60px;
  font-size: 20px;
  color: #fff;
  background-color: #263238;
  border-radius: 5px;
}
.skills__card-btn:hover {
  opacity: 0.8;
}

/* Header */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 0 101px;
}
.header__inner-gs {
  display: flex;
  justify-content: space-between;
}
.header__gs_picture {
  margin-top: -50px;
}
.header__gs_picture_btn {
  width: 438px;
  height: 118px;
  background-color: #263238;
  border-radius: 15px;
  border: 2px solid #263238;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
  margin-bottom: 148px;
}
.header__gs_picture_btn:hover {
  background-color: #fff;
  color: #263238;
  border: 2px solid #263238;
  transition: 0.4s;
}
.header__gs_picture_btn-link {
  color: inherit;
}
.header__gs__btn {
  margin-top: 13px;
  width: 220px;
  height: 70px;
  padding: 0px 53px;
  border: 2px solid #263238;
  border-radius: 5px;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.header__gs__btn:hover {
  background-color: #000000;
  color: #fff;
  transition: 0.4s;
}
.header__gs__btn-link {
  color: inherit;
}

.navigation__menu {
  display: flex;
  justify-content: space-around;
  gap: 39px;
  margin-top: 5px;
  margin-left: 9px;
}
.navigation__menu-item {
  color: #000000;
}
.navigation__menu-link {
  color: inherit;
}
.navigation__menu-link:hover {
  opacity: 0.7;
}

.sidenav {
  display: none;
}

.text-h1 {
  max-width: 386px;
  position: relative;
  margin-bottom: 40px;
}

.text-p-main {
  max-width: 525px;
  margin-bottom: 61px;
}

.lamp {
  position: absolute;
  top: 33.5%;
  left: 34.5%;
}

.burger {
  display: none;
}

/* Skills */
.skills__title {
  text-align: center;
  margin-bottom: 96px;
}
.skills__inner {
  max-width: 1342px;
  margin: 0 auto 200px;
  display: grid;
  grid-template: "one two three" "one four four";
  justify-content: space-evenly;
  align-items: stretch;
  gap: 18px;
}
.skills__card {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.speaking {
  grid-area: one;
  padding: 35px 5px 91px 24px;
}
.speaking__picture {
  margin-bottom: 5px;
}
.speaking__title {
  padding-left: 18px;
  margin-bottom: 5px;
}
.speaking__desc {
  padding-left: 18px;
  padding-right: 46px;
  margin-bottom: 34px;
}
.speaking__btn {
  margin-left: 17px;
}
.speaking__btn:hover {
  opacity: 0.8;
}

.writing {
  grid-area: two;
  padding: 0px 20px 0px 41px;
}
.writing__picture {
  margin-top: -5px;
  margin-bottom: -37px;
  float: right;
}
.writing__title {
  margin-bottom: -9px;
}
.writing__desc {
  margin-bottom: 32px;
}

.reading {
  grid-area: three;
  padding: 4px 20px 0px 0;
}
.reading__picture {
  margin-top: 3px;
}
.reading__title {
  padding-left: 38px;
  margin-bottom: -15px;
}
.reading__desc {
  padding-left: 40px;
  padding-right: 10px;
  margin-bottom: 35px;
}
.reading__btn {
  margin-left: 40px;
}

.listening {
  grid-area: four;
  display: flex;
  gap: 90px;
  order: 1;
  padding: 44px 25px 0px 47px;
}
.listening__title {
  margin-bottom: -4px;
}
.listening__desc {
  max-width: 340px;
  margin-bottom: 24px;
}
.listening__btn {
  margin-left: 0px;
}

@media screen and (max-width: 1450px) {
  .container {
    padding: 0 20px;
  }
  .skills__inner {
    padding: 0 20px;
  }
  .listening {
    gap: 0;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
  .logo {
    max-width: 89px;
    max-height: 45px;
  }
  .header__inner {
    margin: 28px 0 82px;
    padding: 0 31px;
  }
  .header__inner-gs {
    padding: 0 21px 0 29px;
  }
  .header__inner-gs_btn {
    width: 292px;
    height: 80px;
    font-size: 24px;
    padding: 0;
    border-radius: 5px;
  }
  .header__inner-gs_picture {
    max-width: 460px;
    max-height: 460px;
    margin-top: -14px;
  }
  .header__btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
    padding: 0;
    margin-top: -3px;
  }
  .navigation__menu {
    gap: 31px;
    margin-top: 10px;
    margin-left: 66px;
  }
  .text-h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
  }
  .text-h4 {
    font-size: 16px;
  }
  .text-p-main {
    max-width: 420px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 31px;
  }
  .lamp {
    max-width: 78.1px;
    top: 28.5%;
    left: 33.5%;
  }
  .text-p-card {
    font-size: 14px;
    line-height: 21px;
  }
  .skills__card-btn {
    width: 196px;
    height: 57px;
    font-size: 18px;
    padding-right: 9px;
  }
  .skills__title {
    margin-top: -74px;
    margin-bottom: 51px;
    font-size: 36px;
  }
  .skills__inner {
    padding: 0 26px 0 32px;
    gap: 13px;
  }
  .skills__card {
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  .speaking {
    padding: 0px 0px 0px 22px;
    max-width: 303px;
  }
  .speaking__picture {
    margin-bottom: 1px;
    max-width: 260px;
  }
  .speaking__title {
    padding-left: 7px;
    margin-bottom: -10px;
    font-size: 22px;
  }
  .speaking__desc {
    padding-left: 6px;
    padding-right: 31px;
    margin-bottom: 34px;
  }
  .speaking__desc-first {
    margin-bottom: -3px;
  }
  .speaking__desc-second {
    margin-bottom: 45px;
  }
  .speaking__btn {
    margin-left: 6px;
    padding-right: 9px;
    width: 196px;
    height: 57px;
    font-size: 18px;
  }
  .speaking__btn:hover {
    opacity: none;
  }
  .writing {
    padding: 5px 9px 30px 30px;
  }
  .writing__picture {
    max-width: 205px;
    margin-top: 1px;
    margin-bottom: -29px;
  }
  .writing__title {
    font-size: 22px;
    margin-bottom: -13px;
  }
  .writing__desc {
    font-size: 14px;
    margin-bottom: 22px;
  }
  .writing__btn {
    margin-left: -1px;
  }
  .reading {
    padding: 13px 0px 0px;
  }
  .reading__picture {
    max-width: 243px;
    max-height: 162px;
    margin-bottom: 4px;
    margin-top: 3px;
  }
  .reading__title {
    font-size: 22px;
    padding-left: 25px;
    margin-bottom: -15px;
  }
  .reading__desc {
    padding-left: 25px;
    padding-right: 29px;
    margin-bottom: 22px;
    font-size: 14px;
  }
  .reading__btn {
    margin-left: 25px;
  }
  .listening {
    padding: 4px 21px 34px 29px;
  }
  .listening__picture {
    max-width: 254px;
    max-height: 169px;
    margin-top: 29px;
  }
  .listening__title {
    font-size: 22px;
    margin-bottom: -14px;
  }
  .listening__desc {
    font-size: 14px;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 830px) {
  .navigation__menu {
    gap: 21px;
    margin-left: 46px;
  }
  .skills__card-btn {
    width: 178px;
    height: 50px;
  }
  .speaking__picture {
    max-width: 214px;
  }
  .writing__picture {
    max-width: 200px;
    float: none;
  }
  .reading__picture {
    max-width: 216px;
    max-height: 144px;
  }
  .listening__picture {
    max-width: 202px;
    max-height: 134px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .sidenav {
    display: block;
  }
  .sidenav__link {
    margin-bottom: 12px;
  }
  .sidenav__logo {
    position: relative;
  }
  .sidenav__close {
    position: absolute;
    top: 3.3%;
    left: 89.6%;
  }
  .header__inner {
    padding: 0 38px 0 39px;
    margin: 48px 0 79px;
  }
  .header__inner-gs {
    padding: 0 16px 0 39px;
  }
  .header__btn {
    display: none;
  }
  .header__btn-sidenav {
    margin-top: 89px;
    margin-left: 39px;
    width: 210px;
    height: 60px;
    border: 2px solid #263238;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  .header__btn-link-sidenav {
    color: inherit;
  }
  .header__gs_btn {
    width: 236px;
    height: 65px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 131px;
  }
  .header__gs_picture {
    max-width: 352px;
    max-height: 352px;
    margin-top: -28px;
  }
  .text-h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 26px;
  }
  .text-p-main {
    font-size: 16px;
    line-height: 24px;
    max-width: 333px;
    margin-bottom: 31px;
  }
  .lamp {
    max-width: 68.99px;
    top: 25.2%;
    left: 33.5%;
  }
  .burger {
    width: 30px;
    height: 17px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .burger__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #39515e;
    border-radius: 1px;
    margin-bottom: 4px;
  }
  .burger__line:last-child {
    margin-bottom: 0px;
    width: 21.22px;
  }
  .skills__title {
    font-size: 30px;
    margin-bottom: 36px;
  }
  .skills__inner {
    padding: 0 30px 0 39px;
    gap: 10px;
  }
  .skills__card-btn {
    font-size: 16px;
  }
  .speaking {
    padding: 31px 9px 37px 1px;
  }
  .speaking__title {
    font-size: 20px;
    padding-left: 16px;
    margin-bottom: -13px;
  }
  .speaking__desc {
    padding-left: 17px;
    padding-right: 0px;
    margin-bottom: 34px;
  }
  .speaking__desc-first {
    margin-bottom: -5px;
  }
  .speaking__desc-second {
    margin-bottom: 41px;
  }
  .speaking__btn {
    width: 178px;
    height: 50px;
    font-size: 16px;
    padding-right: 0;
    margin-left: 16px;
  }
  .writing {
    padding: 14px 24px 27px 0px;
  }
  .writing__picture {
    margin-bottom: -33px;
  }
  .writing__title {
    font-size: 20px;
    padding-left: 16px;
    margin-bottom: -16px;
  }
  .writing__desc {
    margin-bottom: 18px;
    padding-left: 18px;
  }
  .writing__btn {
    margin-left: 16px;
    padding-right: 0px;
  }
  .reading {
    padding: 34px 14px 28px 0px;
  }
  .reading__picture {
    margin-top: -1px;
    margin-bottom: 0px;
  }
  .reading__title {
    font-size: 20px;
    padding-left: 20px;
  }
  .reading__desc {
    padding-left: 20px;
    padding-right: 0px;
    margin-bottom: 21px;
  }
  .reading__btn {
    margin-left: 23px;
    padding-right: 0px;
  }
  .listening {
    padding: 0px 2px 17px 22px;
  }
  .listening__picture {
    margin-top: 59px;
  }
  .listening__title {
    font-size: 20px;
    margin-bottom: -20px;
  }
}
@media screen and (max-width: 730px) {
  .skills__inner {
    padding: 0px 32px 0px 33px;
  }
  .speaking__picture {
    max-width: 185px;
  }
  .writing__picture {
    max-width: 182px;
  }
  .reading__picture {
    max-width: 198px;
    max-height: 132px;
  }
  .listening__picture {
    max-width: 206px;
    max-height: 137px;
  }
}
@media screen and (max-width: 680px) {
  .header__gs_picture {
    max-width: 252px;
    max-height: 252px;
  }
  .skills__inner {
    grid-template: "one two" "three four";
    gap: 30px;
  }
  .speaking {
    max-width: 100%;
  }
  .writing {
    display: flex;
    flex-direction: column;
  }
  .writing__picture {
    margin: 0 auto 20px;
  }
  .writing__desc {
    margin-bottom: 145px;
  }
  .listening {
    flex-wrap: wrap-reverse;
  }
}
@media screen and (max-width: 575px) {
  .header__btn-sidenav {
    margin-top: 118px;
    margin-left: 33px;
    width: 330px;
    height: 70px;
    font-size: 22px;
  }
  .header__inner {
    padding: 0 49.65px 0 32px;
    margin: 49px 0 49px;
  }
  .header__inner-gs {
    padding: 0 42px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .header__gs_btn {
    width: 305px;
    height: 75px;
    font-size: 18px;
    border-radius: 5px;
  }
  .header__gs_picture {
    max-width: 424px;
    max-height: 424px;
    margin-bottom: 17px;
  }
  .text-h1 {
    font-size: 34px;
    margin-bottom: 27px;
    max-width: none;
  }
  .br-h1 {
    display: none;
  }
  .text-p-main {
    font-size: 16px;
    line-height: 24px;
    max-width: none;
    margin-bottom: 36px;
  }
  .lamp {
    display: none;
  }
  .burger {
    width: 42.35px;
    height: 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .burger__line {
    display: block;
    width: 42.35px;
    height: 4.25px;
    background-color: #39515e;
    border-radius: 1px;
    margin-bottom: 5.65px;
  }
  .burger__line:last-child {
    width: 29.96px;
  }
  body .sidenav {
    width: 100%;
  }
  body .sidenav__close {
    top: 6.7%;
    left: 90.7%;
  }
  body .sidenav li > a {
    padding: 38px 0 0 34px;
    font-size: 24px;
    line-height: 65px;
  }
  body .sidenav .divider {
    margin: 21px 32px -3px 33px;
  }
  body .sidenav__link {
    font-size: 24px;
    margin-bottom: 17px;
  }
  .skills__title {
    margin-top: -34px;
    margin-bottom: 32px;
  }
  .text-p-card {
    font-size: 12px;
    line-height: 18px;
  }
  .skills__title {
    font-size: 30px;
    margin-bottom: 36px;
  }
  .skills__inner {
    padding: 0 30px 0;
    gap: 30px;
  }
  .skills__card {
    min-height: 534px;
  }
  .skills__card-btn {
    width: 200px;
    height: 50px;
    font-size: 14px;
  }
  .speaking {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 36px 9px;
  }
  .speaking__picture {
    margin-bottom: -26px;
  }
  .speaking__title {
    font-size: 18px;
    padding-left: 9px;
    margin-bottom: -15px;
  }
  .speaking__desc {
    padding-left: 11px;
    margin-bottom: 0px;
  }
  .speaking__desc-first {
    margin-bottom: 11px;
  }
  .speaking__desc-second {
    margin-bottom: 23px;
  }
  .speaking__btn {
    width: 200px;
    height: 50px;
    font-size: 14px;
    margin-left: 9px;
    margin-bottom: 2px;
  }
  .writing {
    padding: 14px 24px 27px 0px;
    justify-content: none;
  }
  .writing__picture {
    margin-top: -10px;
    margin-bottom: -21px;
  }
  .writing__title {
    font-size: 18px;
    padding-left: 17px;
    margin-bottom: -21px;
  }
  .writing__desc {
    padding-left: 17px;
    margin-bottom: 131px;
  }
  .writing__btn {
    margin-left: 14px;
  }
  .reading {
    display: flex;
    flex-direction: column;
    padding: 34px 14px 28px 0px;
  }
  .reading__picture {
    margin-bottom: -2px;
  }
  .reading__title {
    font-size: 18px;
    padding-left: 18px;
    margin-bottom: -13px;
  }
  .reading__desc {
    padding-left: 18px;
    margin-bottom: 147px;
  }
  .reading__btn {
    margin-left: 18px;
  }
  .listening {
    align-items: stretch;
    align-content: flex-end;
    padding: 0px 2px 16px 8px;
  }
  .listening__picture {
    margin-top: 0px;
  }
  .listening__title {
    font-size: 18px;
    padding-left: 11px;
    margin-bottom: -15px;
  }
  .listening__desc {
    padding-left: 14px;
    margin-bottom: 145px;
  }
  .listening__btn {
    margin-left: 8px;
    margin-top: -2px;
  }
  .listening__image {
    max-width: 206px;
    max-height: 137px;
    margin: 39px 0 -7px 4px;
  }
}
@media screen and (max-width: 530px) {
  .skills__inner {
    grid-template: "one" "two" "three" "four";
    gap: 21px;
  }
  .speaking {
    padding-right: 25px;
  }
  .speaking__picture {
    max-width: 213px;
    margin: 0 auto;
  }
  .writing {
    padding-right: 25px;
  }
  .writing__picture {
    max-width: 204px;
    margin: 0 auto;
  }
  .reading {
    padding-right: 25px;
  }
  .reading__picture {
    max-width: 236px;
    max-height: 157px;
    margin: 0 auto;
  }
  .listening {
    padding-right: 25px;
  }
  .listening__picture {
    max-width: 232px;
    min-height: 154px;
  }
  .listening__image {
    margin: 20px auto;
  }
}
@media screen and (max-width: 450px) {
  .header__btn-sidenav {
    margin-top: 64px;
    margin-left: 15px;
    width: 291px;
    height: 65px;
    font-size: 20px;
  }
  .header__gs_picture {
    max-width: 320px;
    max-height: 320px;
  }
}
@media screen and (max-width: 320px) {
  .header__btn-sidenav {
    margin-top: 81px;
  }
  .header__inner {
    padding: 0 15.47px 0 14px;
    margin: 45px 0 64px;
  }
  .header__inner-gs {
    padding: 0 14px;
  }
  .header__gs_btn {
    width: 289px;
    height: 60px;
    font-size: 16px;
    margin-bottom: 85px;
  }
  .header__gs_picture {
    max-width: 299px;
    max-height: 299px;
    margin-bottom: 16px;
  }
  .logo {
    max-width: 71px;
    max-height: 36px;
  }
  .text-h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .text-p-main {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 35px;
  }
  .burger {
    width: 33.53px;
    height: 19px;
  }
  .burger__line {
    width: 33.53px;
    height: 3.35px;
    margin-bottom: 4.47px;
  }
  .burger__line:last-child {
    width: 23.72px;
  }
  body .sidenav__logo {
    width: 71px;
    height: 36px;
  }
  body .sidenav__close {
    top: 3.6%;
    left: 89.7%;
    width: 17.02px;
  }
  body .sidenav li > a {
    padding: 12px 0 0 16px;
    font-size: 22px;
  }
  body .sidenav .divider {
    margin: -35px 16px 36px 14px;
  }
  body .sidenav__link {
    font-size: 24px;
    margin-bottom: 17px;
  }
  .text-p-card {
    font-size: 13px;
    line-height: 20px;
  }
  .skills__title {
    font-size: 24px;
    margin-bottom: 36px;
  }
  .skills__inner {
    padding: 0 15px 0;
    gap: 21px;
  }
  .skills__card {
    min-height: 473px;
  }
  .skills__card-btn {
    width: 178px;
    height: 50px;
    font-size: 14px;
  }
  .speaking {
    padding: 8px 16px 45px 13px;
  }
  .speaking__picture {
    margin: -4px auto 10px;
  }
  .speaking__title {
    font-size: 18px;
    padding-left: 0px;
    margin-bottom: -17px;
  }
  .speaking__desc {
    padding-left: 3px;
    margin-bottom: -10px;
  }
  .speaking__desc-first {
    margin-bottom: -5px;
  }
  .speaking__desc-second {
    margin-bottom: 41px;
  }
  .speaking__btn {
    width: 178px;
    height: 50px;
    font-size: 14px;
    margin-left: 3px;
    margin-bottom: 2px;
    padding-right: 9px;
  }
  .writing {
    padding: 14px 24px 27px 0px;
  }
  .writing__picture {
    margin: 0 0 11px 45px;
  }
  .writing__title {
    font-size: 18px;
    padding-left: 14px;
    margin-bottom: -16px;
  }
  .writing__desc {
    padding-left: 17px;
    margin-bottom: 4px;
  }
  .writing__btn {
    margin-left: 14px;
    padding-right: 9px;
  }
  .reading {
    padding: 34px 14px 28px 0px;
  }
  .reading__picture {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: -7px;
  }
  .reading__title {
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: -17px;
  }
  .reading__desc {
    padding-left: 16px;
    margin-bottom: 30px;
  }
  .reading__btn {
    margin-left: 14px;
    padding-right: 9px;
  }
  .listening {
    padding: 0px 2px 16px 8px;
  }
  .listening__picture {
    margin-top: 0px;
  }
  .listening__title {
    font-size: 18px;
    padding-left: 9px;
    margin-bottom: -17px;
  }
  .listening__desc {
    padding-left: 10px;
    margin-bottom: 39px;
  }
  .listening__image {
    margin: 31px 0 36px 24px;
  }
}
@media screen and (max-width: 305px) {
  .header__gs_picture {
    max-width: 250px;
  }
  .header__gs_btn {
    width: 210px;
  }
  .header__btn-sidenav {
    width: 230px;
  }
}
/* Sidebar */
.breadcrumb i,
.breadcrumb [class^=mdi-],
.breadcrumb [class*=mdi-],
.breadcrumb i.material-icons {
  display: inline-block;
  float: right;
  font-size: 24px;
}

.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

nav i,
nav [class^=mdi-],
nav [class*=mdi-],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo i,
nav .brand-logo [class^=mdi-],
nav .brand-logo [class*=mdi-],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav ul a.btn > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-small > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s color;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.sidenav {
  position: fixed;
  width: 429px;
  left: 0;
  top: 0;
  margin: 0;
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding: 20px 0 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-105%);
}

.sidenav.right-aligned {
  right: 0;
  transform: translateX(105%);
  left: auto;
  transform: translateX(100%);
}

.sidenav .collapsible {
  margin: 0;
}

.sidenav li {
  float: none;
  line-height: 48px;
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a {
  color: #263238;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 48px;
  line-height: 60px;
  padding: 28px 0px 0px 40px;
  text-align: left;
}

.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-flat,
.sidenav li > a.btn-floating {
  margin: 10px 15px;
}

.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-floating {
  color: #fff;
}

.sidenav li > a.btn-flat {
  color: #343434;
}

.sidenav li > a.btn:hover,
.sidenav li > a.btn-large:hover,
.sidenav li > a.btn-small:hover,
.sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^=mdi-],
.sidenav li > a li > a > [class*=mdi-],
.sidenav li > a > i.material-icons {
  float: right;
  height: 48px;
  line-height: 48px;
  margin: -74px 49px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

.sidenav .divider {
  margin: -11px 26px 8px 39px;
}

.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.sidenav .subheader:hover {
  background-color: transparent;
}

.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.sidenav .user-view > a {
  height: auto;
  padding: 0;
}

.sidenav .user-view > a:hover {
  background-color: transparent;
}

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}

.sidenav.sidenav-fixed {
  left: 0;
  transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}