@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1342px;
  margin: 0 auto;
}

/* Styles for text */
.text-h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
}

.text-h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}

.text-h3 {
  font-weight: 600;
  font-style: 30px;
  line-height: 80px;
}

.text-h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}

.text-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8f95a5;
}

.text-p-main {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #8f95a5;
}

.text-p-card {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8f95a5;
}

.text-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

/* Header */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 0 101px;
}
.header__btn {
  margin-top: 13px;
  width: 220px;
  height: 70px;
  padding: 0px 53px;
  border: 2px solid #263238;
  border-radius: 5px;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.header__btn:hover {
  background-color: #000000;
  color: #fff;
  transition: 0.4s;
}
.header__btn-link {
  color: inherit;
}
.header__inner-gs {
  display: flex;
  justify-content: space-between;
}
.header__gs_picture {
  margin-top: -50px;
}
.header__gs_btn {
  width: 438px;
  height: 118px;
  background-color: #263238;
  border-radius: 15px;
  border: 2px solid #263238;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}
.header__gs_btn:hover {
  background-color: #fff;
  color: #263238;
  border: 2px solid #263238;
  transition: 0.4s;
}
.header__gs_btn-link {
  color: inherit;
}

.navigation__menu {
  display: flex;
  justify-content: space-around;
  gap: 39px;
  margin-top: 5px;
  margin-left: 9px;
}
.navigation__menu-item {
  color: #000000;
}
.navigation__menu-link {
  color: inherit;
}
.navigation__menu-link:hover {
  opacity: 0.7;
}

.sidenav {
  display: none;
}

.text-h1 {
  max-width: 386px;
  position: relative;
  margin-bottom: 40px;
}

.text-p-main {
  max-width: 525px;
  margin-bottom: 61px;
}

.lamp {
  position: absolute;
  top: 33.5%;
  left: 34.5%;
}

.burger {
  display: none;
}

@media screen and (max-width: 1450px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
  .logo {
    max-width: 89px;
    max-height: 45px;
  }
  .header__inner {
    margin: 28px 0 82px;
    padding: 0 31px;
  }
  .header__inner-gs {
    padding: 0 21px 0 29px;
  }
  .header__btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
    padding: 0;
    margin-top: -3px;
  }
  .header__gs_btn {
    width: 292px;
    height: 80px;
    font-size: 24px;
    padding: 0;
    border-radius: 5px;
  }
  .header__gs_picture {
    max-width: 460px;
    max-height: 460px;
    margin-top: -14px;
  }
  .navigation__menu {
    gap: 31px;
    margin-top: 10px;
    margin-left: 66px;
  }
  .text-h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 27px;
  }
  .text-h4 {
    font-size: 16px;
  }
  .text-p-main {
    max-width: 420px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 31px;
  }
  .lamp {
    max-width: 78.1px;
    top: 28.5%;
    left: 33.5%;
  }
}
@media screen and (max-width: 830px) {
  .navigation__menu {
    gap: 21px;
    margin-left: 46px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .sidenav {
    display: block;
  }
  .sidenav__link {
    margin-bottom: 12px;
  }
  .header__inner {
    padding: 0 38px 0 39px;
    margin: 48px 0 79px;
  }
  .header__inner-gs {
    padding: 0 16px 0 39px;
  }
  .header__btn {
    display: none;
  }
  .header__gs_btn {
    width: 236px;
    height: 65px;
    font-size: 18px;
    border-radius: 5px;
  }
  .header__gs_picture {
    max-width: 352px;
    max-height: 352px;
    margin-top: -28px;
  }
  .header__btn-sidenav {
    margin-top: 89px;
    margin-left: 39px;
    width: 210px;
    height: 60px;
    border: 2px solid #263238;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  .header__btn-link-sidenav {
    color: inherit;
  }
  .text-h1 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 26px;
  }
  .text-p-main {
    font-size: 16px;
    line-height: 24px;
    max-width: 333px;
    margin-bottom: 31px;
  }
  .lamp {
    max-width: 68.99px;
    top: 25.2%;
    left: 33.5%;
  }
  .burger {
    width: 30px;
    height: 17px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .burger__line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #39515e;
    border-radius: 1px;
    margin-bottom: 4px;
  }
  .burger__line:last-child {
    margin-bottom: 0px;
    width: 21.22px;
  }
}
@media screen and (max-width: 575px) {
  .header__inner {
    padding: 0 49.65px 0 32px;
    margin: 49px 0 71px;
  }
  .header__inner-gs {
    padding: 0 42px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .header__gs_btn {
    width: 305px;
    height: 75px;
    font-size: 18px;
    border-radius: 5px;
  }
  .header__gs_picture {
    max-width: 424px;
    max-height: 424px;
    margin-bottom: 17px;
  }
  .text-h1 {
    font-size: 34px;
    margin-bottom: 27px;
    max-width: none;
  }
  .br-h1 {
    display: none;
  }
  .text-p-main {
    font-size: 16px;
    line-height: 24px;
    max-width: none;
    margin-bottom: 36px;
  }
  .lamp {
    display: none;
  }
  .burger {
    width: 42.35px;
    height: 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .burger__line {
    display: block;
    width: 42.35px;
    height: 4.25px;
    background-color: #39515e;
    border-radius: 1px;
    margin-bottom: 5.65px;
  }
  .burger__line:last-child {
    width: 29.96px;
  }
}
@media screen and (max-width: 450px) {
  .header__gs_picture {
    max-width: 320px;
    max-height: 320px;
  }
}
@media screen and (max-width: 320px) {
  .header__inner {
    padding: 0 15.47px 0 14px;
    margin: 45px 0 86px;
  }
  .header__inner-gs {
    padding: 0 14px;
  }
  .header__gs_btn {
    width: 289px;
    height: 60px;
    font-size: 16px;
  }
  .header__gs_picture {
    max-width: 299px;
    max-height: 299px;
    margin-bottom: 16px;
  }
  .logo {
    max-width: 71px;
    max-height: 36px;
  }
  .text-h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .text-p-main {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 35px;
  }
  .burger {
    width: 33.53px;
    height: 19px;
  }
  .burger__line {
    width: 33.53px;
    height: 3.35px;
    margin-bottom: 4.47px;
  }
  .burger__line:last-child {
    width: 23.72px;
  }
}
@media screen and (max-width: 305px) {
  .header__gs_picture {
    max-width: 250px;
  }
  .header__gs_btn {
    width: 210px;
  }
}
/* Sidenav */
.breadcrumb i,
.breadcrumb [class^=mdi-],
.breadcrumb [class*=mdi-],
.breadcrumb i.material-icons {
  display: inline-block;
  float: right;
  font-size: 24px;
}

.material-icons {
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

nav i,
nav [class^=mdi-],
nav [class*=mdi-],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}

nav .brand-logo i,
nav .brand-logo [class^=mdi-],
nav .brand-logo [class*=mdi-],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

nav ul a.btn > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-small > .material-icons,
nav ul a.btn-large > .material-icons,
nav ul a.btn-flat > .material-icons,
nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}

.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s color;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.sidenav {
  position: fixed;
  width: 429px;
  left: 0;
  top: 0;
  margin: 0;
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding: 20px 0 60px;
  background-color: #fff;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-105%);
}

.sidenav.right-aligned {
  right: 0;
  transform: translateX(105%);
  left: auto;
  transform: translateX(100%);
}

.sidenav .collapsible {
  margin: 0;
}

.sidenav li {
  float: none;
  line-height: 48px;
}

.sidenav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

.sidenav li > a {
  color: #263238;
  display: block;
  font-size: 22px;
  font-weight: 500;
  height: 48px;
  line-height: 60px;
  padding: 28px 0px 0px 40px;
  text-align: left;
}

.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-flat,
.sidenav li > a.btn-floating {
  margin: 10px 15px;
}

.sidenav li > a.btn,
.sidenav li > a.btn-large,
.sidenav li > a.btn-small,
.sidenav li > a.btn-large,
.sidenav li > a.btn-floating {
  color: #fff;
}

.sidenav li > a.btn-flat {
  color: #343434;
}

.sidenav li > a.btn:hover,
.sidenav li > a.btn-large:hover,
.sidenav li > a.btn-small:hover,
.sidenav li > a.btn-large:hover {
  background-color: #2bbbad;
}

.sidenav li > a.btn-floating:hover {
  background-color: #26a69a;
}

.sidenav li > a > i,
.sidenav li > a > [class^=mdi-],
.sidenav li > a li > a > [class*=mdi-],
.sidenav li > a > i.material-icons {
  float: right;
  height: 48px;
  line-height: 48px;
  margin: -74px 49px 0 0;
  width: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

.sidenav .divider {
  margin: -11px 26px 8px 39px;
}

.sidenav .subheader {
  cursor: initial;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
}

.sidenav .subheader:hover {
  background-color: transparent;
}

.sidenav .user-view {
  position: relative;
  padding: 32px 32px 0;
  margin-bottom: 8px;
}

.sidenav .user-view > a {
  height: auto;
  padding: 0;
}

.sidenav .user-view > a:hover {
  background-color: transparent;
}

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.sidenav .user-view .circle,
.sidenav .user-view .name,
.sidenav .user-view .email {
  display: block;
}

.sidenav .user-view .circle {
  height: 64px;
  width: 64px;
}

.sidenav .user-view .name,
.sidenav .user-view .email {
  font-size: 14px;
  line-height: 24px;
}

.sidenav .user-view .name {
  margin-top: 16px;
  font-weight: 500;
}

.sidenav .user-view .email {
  padding-bottom: 16px;
  font-weight: 400;
}

.sidenav.sidenav-fixed {
  left: 0;
  transform: translateX(0);
  position: fixed;
}

.sidenav.sidenav-fixed.right-aligned {
  right: 0;
  left: auto;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
  background-color: #ee6e73;
}

.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
  color: #fff;
}

.sidenav .collapsible-body {
  padding: 0;
}

.sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  display: none;
}